.login-container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100vh;
    background-color: var(--surface);
}

.login-container img{
    width: 75px;
}

.login-container .login-card{
    background-color: var(--bg);
    padding: 30px 24px;
    width: 85%;
    max-width: 400px;
    border-radius: 15px;
}

.login-container .login-card form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.login-container .login-card form input{
    padding: 10px 12px;  
    border-radius: 5px;  
    border: 1px solid var(--ring);
    outline: none;
    width: 100%;
}

.login-container .login-card form button{
    background-color: var(--primary);
}

.login-container .login-card form button:hover{
    background-color: var(--primary-600);
}

.login-container .login-card p a{
    color: var(--text);
    text-decoration: none;
}
